hr {  width: 92%; size:2px; height: 1px}
td {  font-size: 13px; line-height: 130%}

a {font-size: 13px; line-height: 130%; text-decoration: none; color:#0033FF}
a:hover {font-size: 13px; line-height: 130%; color:#0033FF; text-decoration: underline}
a:visited {font-size: 13px; line-height: 130%; color:#0033FF}

.lowcolor1
{  font-size: 13px; line-height: 120%; color: #6F5B28; font-weight: bold}
.lowcolor2
{  font-size: 13px; line-height: 130%; color: #003399; background-color: #F7F3EE; }
.curContent {font-family: "微软雅黑","宋体",Arail; font-size: 12px; color:blue; text-decoration:none}

.tableTitle{
	height:"30px";	
	text-align:"center";
	background-color:"#D4D0C8";
	bgcolor:"#D4D0C8";
	font:bold;
}
.tableHeader {height: 40px;background-color: #D4D0C8;text-align: center;font-weight: bold;}

.tableBodyOdd {height: 30px;text-align: center;background-color:white;}

.tableBodyEven {height: 30px;text-align: center;background-color:#E0FFFF;}